<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.echo.hospital">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Google Sheets API Android Quickstart"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Google Sheets API Android Quickstart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bundle.BundleActivity"
            android:label="@string/title_activity_bundle"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bundle.AddBundleActivity"
            android:label="@string/title_activity_add_bundle"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wash.WashActivity"
            android:label="@string/title_activity_wash"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wash.AddWashActivity"
            android:label="@string/title_activity_add_wash"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mdr.AddMdrActivity"
            android:label="@string/title_activity_add_mdro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mdr.MdrActivity"
            android:label="@string/title_activity_mdro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bundle.CVPBundleActivity"
            android:label="@string/title_activity_bundle_cvp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bundle.AddCVPBundleActivity"
            android:label="@string/title_activity_add_bundle_cvp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bundle.VAPBundleActivity"
            android:label="@string/title_activity_vap_bundle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bundle.AddVAPBundleActivity"
            android:label="@string/title_activity_add_vap_bundle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bundle.AddFoleyBundleActivity"
            android:label="@string/title_activity_add_foley"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bundle.FoleyBundleActivity"
            android:label="@string/title_activity_foley_bundle"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>