<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.echo.hospital">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="首頁"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Google Sheets API Android Quickstart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="主選單"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wash.WashActivity"
            android:label="洗手稽核列表"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wash.AddWashActivity"
            android:label="新增洗手稽核表"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mdro.AddMdroActivity"
            android:label="新增MDRO稽核表"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mdro.MdroActivity"
            android:label="MDRO稽核列表"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bundle.CVPBundleActivity"
            android:label="Bundle CVP稽核列表"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bundle.AddCVPBundleActivity"
            android:label="新增Bundle CVP稽核表"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bundle.VAPBundleActivity"
            android:label="Bundle VAP稽核列表"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bundle.AddVAPBundleActivity"
            android:label="新增Bundle VAP稽核表"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bundle.AddFoleyBundleActivity"
            android:label="新增Bundle Foley稽核表"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bundle.FoleyBundleActivity"
            android:label="Bundle Foley稽核列表"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>